/* Colors
Light background- rgb(0, 175, 255)
Dark blue background- rgb(0, 70, 175)
Footer- rgb(40, 50,60) */

/* Images: 
Cladding- IMG-0323.jpg
Curtain walling- Photo03-08-2018,092553.jpg
Windows and doors- IMG_6338.JPG
Curtain wall repairs- Photo14-12-2018,112449.jpg
Shopfronts- IMG_3255.JPG
Rooflights- IMG-3390.jpg */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
}

main {
    width: 100%;
}

/* Style the top bar with email and telephone */

#top-bar {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(216, 216, 216);
    margin-bottom: 50px;
}

#top-bar td {
    width: 20%;
    padding: 0 10px 0 10px;
    border-right: solid black 1px;
}

#top-bar p {
    color: rgb(124, 124, 124);
    font-size: 15px;
    margin: 2% 0 2% 0;
}

.top-logo {
    margin: 0 73.4% 0 9.9%;
}


/* Add background to the topnav bar*/
.topnav {
    background-color: rgb(0, 70, 175);
    overflow: hidden;
    width: 80%;
    height: 30%;
    padding: 0;
    margin: 0 10% 0 10%;
}

/*Style the buttons in the navbar*/
.topnav a {
    width: 15%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1.2% 2%;
    font-size: 1.2em;
    text-decoration: none;
}

/* Change color on hover and remove the underlying*/
.topnav a:hover {
    background-color: rgb(0, 175, 255);
    text-decoration: none;
}

/* Highlight the current page */
.topnav a:active {
    background-color: rgb(64, 147, 255);
}

/*.topnav input[type=text] {
    float: right;
    border: none;
    width: 30%;
    margin: 0.25%;
}*/

.fixed-about-bg {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411)), url(../images-copy/Beech-House-1200x794-5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 450px;
    margin: 0%;
}

.heading-container {
    text-align: center;
    padding-top: 10%;
    color: rgb(0, 175, 255);
}

.heading-container h1 {
    font-size: 80px;
    margin-top: 0;
}

.about-info {
    width: 100%;
    height: 100%;
    margin: -10px 0 0 0;
    background-color: rgb(216, 216, 216);
    text-align: left;
}

.about-info p {
    width: 70%;
    font-size: 20px;
    font-weight: 700;
    color: rgb(124, 124, 124);
    padding: 1% 2% 0 2%;
    margin: 0 15% 0 15%;
}

.about-info h2 {
    width: 70%;
    padding: 5% 2% 0 2%;
    margin: 0 15% 0 15%;
    border-bottom: solid 2px rgb(124, 124, 124);
}

.about-info h3 {
    color: rgb(124, 124, 124);
    width: 70%;
    margin: 0 15% 0 15%;
    padding: 1% 2% 1% 2%;
}

.about-info ul {
    list-style-position: inside;
    width: 70%;
    font-size: 20px;
    font-weight: 700;
    color: rgb(124, 124, 124);
    padding: 1% 2% 5% 2%;
    margin: 0 15% 0 15%;
}

.about-info .button {
    background: transparent;
    text-align: center;
    font-size: 20px;
    color: rgb(124, 124, 124);
    text-decoration: none;
    border: solid black 2px;
    display: block;
    width: 20%;
    height: 10%;
    padding: 1% 2% 1% 2%;
    margin: 1% 40% 5% 40%;
}

.about-info .button:hover {
    background-color:  rgba(100, 100, 100, 0.5);
}
